# Change file to config.py
#
# Source URI for definitions
sourcepath = 'http://update.nai.com/products/commonupdater/'

# Destination path on target machine
# Keep path open ended not ending in \
destinationpath = 'C:\McAfeeDefs'

# Proxy Setting 
# Example
#proxy = {
#    'http': 'https://proxy.example.com:8080',
#    'https': 'https://proxy.example.com:8080',
#}
proxy = ''

# Days to keep older files
retention = 2

# Defines time in seconds for HTTP requests
httptimeout = (30, 60)
