"""Config file"""

# Change file to config.py
#
# Source URI for definitions
SOURCEPATH = 'http://update.nai.com/products/commonupdater/'

# Destination path on target machine
# Keep path open ended not ending in \
DESTINATIONPATH = 'C:\McAfeeDefs'

# Proxy Setting
# Example
#proxy = {
#    'http': 'https://proxy.example.com:8080',
#    'https': 'https://proxy.example.com:8080',
#}
PROXY = ''

# Days to keep older files
RENTENTION = 7

# Defines time in seconds for HTTP requests
HTTPTIMEOUT = (30, 60)

# Define maximum retry events before failing
MAXRETRIES = 100
